/* src/styles.css */
@import "@ionic/angular/css/core.css";
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 빈티지 보더 스타일 */
.vintage-border {
    border: 1px solid #dcd9ce;
    box-shadow: inset 0 0 20px rgba(166, 156, 134, 0.1);
}

/* 점선 스타일 */
.dashed-line {
    background-image: linear-gradient(to bottom, #4a6741 50%, transparent 50%);
    background-size: 1px 10px;
}