/* src/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 빈티지 보더 스타일 */
.vintage-border {
    border: 1px solid #dcd9ce;
    box-shadow: inset 0 0 20px rgba(166, 156, 134, 0.1);
}

/* 점선 스타일 */
.dashed-line {
    background-image: linear-gradient(to bottom, #4a6741 50%, transparent 50%);
    background-size: 1px 10px;
}